<Jumbo>
  <h2>Welcome to Super Rentals!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>
<h1>
  {{@model.title}}
</h1>
<Rentals @rentals={{@model}} />